#cookie {
    background-color: #E8FBFB;
    border: #C2E9E9;
    border-style: solid;
    border-width: 4px;
    margin-top: 10px;
    padding: 5px;
}

#spatulas {
    background-color: #E8FBFB;
    border: #C2E9E9;
    border-style: solid;
    border-width: 4px;
}

#main {
    border: white solid;
    background-color: white;
}

body{
    background-image: url("images/kitc.jpg");
}

#title
{
    background-color: #A8F0F0;
    border: white solid;
    border-width: 10px;
    text-align: right;
}

span{
    border-bottom: dashed;
    border-bottom-width: 2px;
}

#fresh {
    border: none;
    font-size: 14pt;
}